html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.popup{
  /* max-width: 400px; */
  width: 40vw;
  padding: 1rem;
}

.maplibregl-popup-content {
  max-width: 300px !important;
  padding: 10px;
}

.popup {
  width: 100%;
  overflow: hidden;
}

.popup img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

/* .popup img{
  height: 200px;
  width: auto;
  text-align: center;
  margin: 0 auto;
  display: block;
} */


/* .marker{
  transform: translate(-50%, -100%);
} */

.marker.red path{
  fill: #f05305;
}


.entry-form label,
.entry-form input,
.entry-form textarea, 
.entry-form button{
  font-size: 1rem;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}

.error{
  color: #f05305;
}